[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = "*"
django-rest-swagger = "*"
djangorestframework = "*"
pygments = "*"
pillow = "*"
torch = "*"
django-cors-headers = "*"
drf-spectacular = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.11"
